* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

.encabezado {
  background-color: white;
  width: 100%;
  height: 20vh;
  z-index: 999;
}

.encabezado .barraNav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.encabezado .barraNav .logo {
  text-decoration: none;
  font-size: x-large;
  color: black;
  margin-left: 2vw;
}

.encabezado .barraNav .logo .img-logo {
  width: 18vw;
  height: 17vh;
  margin-top: 1vw;
  margin-bottom: 1vw;
  border-radius: 30px;
}

.encabezado .barraNav .logo:hover {
  text-decoration: underline 3px coral;
}

.encabezado .barraNav .toggleNav {
  color: black;
  background: none;
  border: none;
  font-size: x-large;
  padding: 0 1vw;
  display: none;
}

.encabezado .barraNav .navBar {
  display: flex;
}

.encabezado .barraNav .navBar .nav-item {
  list-style: none;
  font-size: medium;
  margin: 0 1vw;
  line-height: 20vh;
  text-transform: uppercase;
}

.encabezado .barraNav .navBar .nav-item a {
  text-decoration: none;
  color: black;
}

.encabezado .barraNav .navBar .nav-item a:hover {
  text-decoration: underline coral 3px;
}

@media (max-width: 768px) {
  body {
    padding-top: 20vh;
  }
  body .encabezado {
    top: 0;
    position: fixed;
  }
  body .encabezado .barraNav .logo {
    font-size: large;
  }
  body .encabezado .barraNav .p-logo {
    display: none;
  }
  body .encabezado .barraNav .toggleNav {
    display: block;
  }
  body .encabezado .barraNav .navBar {
    flex-direction: column;
    background-color: bisque;
    position: fixed;
    margin: 0;
    top: 20vh;
    width: 100%;
    align-items: center;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
  }
  body .encabezado .barraNav .navBar-visible {
    left: 0;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .barraNav .logo {
    font-size: small;
  }
  .barraNav .logo .img-logo {
    width: 15vw;
    height: 10vh;
    margin-top: 1vw;
    margin-bottom: 1vw;
    border-radius: 30px;
  }
  .barraNav .logo .p-logo {
    display: none;
  }
}

@media (max-width: 576px) {
  .barraNav .logo {
    font-size: small;
  }
  .barraNav .logo .img-logo {
    width: 15vw;
    height: 10vh;
    margin-top: 1vw;
    margin-bottom: 1vw;
    border-radius: 30px;
  }
  .barraNav .logo .p-logo {
    display: none;
  }
}

@media (max-width: 992px) and (min-width: 769px) {
  .barraNav .logo .p-logo {
    display: none;
  }
}

.container-fluid {
  width: 100%;
  margin-left: 1vw;
}

.indexUno {
  margin-top: 10vh;
  height: 80vh;
  width: 100%;
}

.indexUno .carousel .foto-carusel {
  width: 100%;
  height: 78vh;
  object-fit: cover;
}

.indexDos {
  height: 100vh;
  width: 100%;
}

.indexDos .cardFoto .picture-contain {
  display: inline-block;
  background-color: #FDCEB9;
  border-radius: 25%;
}

.indexDos .cardFoto .picture-img {
  width: 100%;
  height: 95vh;
  mix-blend-mode: multiply;
  filter: grayscale(100%);
  border-radius: 25%;
}

.indexDos .cardInfo .titulo-uno {
  color: #FDCEB9;
  text-align: center;
  text-decoration: underline;
  text-shadow: 2px 2px red;
}

.indexDos .cardInfo .subtitulo-uno {
  color: #FDCEB9;
  text-align: center;
  text-shadow: 2px 2px red;
}

.indexDos .cardInfo .subtitulo-dos {
  color: #FDCEB9;
  text-align: center;
  text-shadow: 2px 2px red;
}

.indexDos .cardInfo .parrafo-info {
  text-align: justify;
  padding: 1vh;
}

.indexDos .cardInfo .firma {
  color: black;
  text-shadow: 2px 2px #FDCEB9;
  text-align: left;
}

.indexTres {
  margin-top: 5vh;
  height: 80vh;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.indexTres .card {
  border: 0px solid;
  position: relative;
  cursor: pointer;
}

.indexTres .card .face {
  width: 100%;
  height: 40vh;
  transition: 0.5s;
  border-radius: 5%;
}

.indexTres .card .face1 {
  position: relative;
  background-color: white;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(20vh);
  border-radius: 5% 5% 0 0;
}

.indexTres .card .content {
  opacity: 0.2;
  transition: 0.5s;
}

.indexTres .card .card-img {
  max-width: 50%;
  display: flex;
  margin: auto;
}

.indexTres .card .titulo-card {
  margin: 10px 0 0;
  padding: 0;
  color: black;
  text-align: center;
  font-size: 1.5em;
}

.indexTres .card .face2 {
  position: relative;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-20vh);
  border-radius: 0 0 5% 5%;
}

.indexTres .card .card-parrafo {
  margin: 0;
  padding: 0;
}

.indexTres .card .card-enlace {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-weight: 900;
  color: black;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10%;
}

.card:hover .face.face1 .content {
  opacity: 1;
}

.card:hover .face.face2 .content {
  opacity: 1;
}

.card:hover .face1 {
  background-color: #FDCEB9;
  transform: translateY(0);
}

.card:hover .face.face2 {
  transform: translateY(0);
}

.card:hover .face.face2 .card-enlace:hover {
  background-color: #FDCEB9;
  color: black;
}

.indexCuatro {
  height: max-content;
  width: 100%;
}

.indexCuatro .portafolio-title {
  text-align: center;
  font-size: 15vh;
  color: #FDCEB9;
  text-shadow: 4px 4px red;
  margin-bottom: 5vh;
}

.indexCuatro .portafolio {
  display: grid;
  grid-template-columns: 19.3% 20.7% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-auto-columns: 1fr;
  gap: 3px 3px;
  grid-auto-flow: row;
  grid-template-areas: "por-tres por-seis por-siete por-uno por-uno" "por-cinco por-cinco por-ocho por-nueve por-diez" "por-17 por-dos por-dos por-cuatro por-cuatro" "por-18 por-18 por-quince por-quince por-16" "por-trece por-trece por-once por-once por-catorce";
}

.indexCuatro .por-uno {
  grid-area: por-uno;
}

.indexCuatro .por-cuatro {
  grid-area: por-cuatro;
}

.indexCuatro .por-seis {
  grid-area: por-seis;
}

.indexCuatro .por-siete {
  grid-area: por-siete;
}

.indexCuatro .por-ocho {
  grid-area: por-ocho;
}

.indexCuatro .por-nueve {
  grid-area: por-nueve;
}

.indexCuatro .por-diez {
  grid-area: por-diez;
}

.indexCuatro .por-once {
  grid-area: por-once;
}

.indexCuatro .por-trece {
  grid-area: por-trece;
}

.indexCuatro .por-catorce {
  grid-area: por-catorce;
}

.indexCuatro .por-16 {
  grid-area: por-16;
}

.indexCuatro .por-17 {
  grid-area: por-17;
}

.indexCuatro .por-tres {
  grid-area: por-tres;
}

.indexCuatro .por-cinco {
  grid-area: por-cinco;
}

.indexCuatro .por-dos {
  grid-area: por-dos;
}

.indexCuatro .por-18 {
  grid-area: por-18;
}

.indexCuatro .por-quince {
  grid-area: por-quince;
}

.indexCuatro .foto-portafolio {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.indexCuatro .foto-portafolio:hover {
  filter: opacity(0.9);
  transform: scale(1.05);
}

.foto-portafolio:hover {
  transform: scale(1);
}

@media (max-width: 1024px) and (min-width: 768px) {
  .indexDos {
    height: 100vh;
  }
  .indexDos .picture-contain {
    margin-top: 10vh;
  }
  .indexDos .cardFoto .picture-img {
    height: 80vh;
  }
  .indexDos .cardInfo .titulo-uno {
    font-size: x-large;
    color: black;
    text-shadow: 2px 2px #FDCEB9;
  }
  .indexDos .cardInfo .subtitulo-uno {
    font-size: large;
    color: black;
    text-shadow: 2px 2px #FDCEB9;
  }
  .indexDos .cardInfo .subtitulo-dos {
    font-size: large;
    color: black;
    text-shadow: 2px 2px #FDCEB9;
  }
  .indexDos .cardInfo .parrafo-info {
    font-size: small;
    padding: 0px;
  }
  .indexCuatro .portafolio-title {
    font-size: 10vh;
  }
}

@media (max-width: 767px) and (min-width: 576px) {
  .indexDos {
    height: 115vh;
  }
  .indexDos .picture-contain {
    margin-top: 10vh;
  }
  .indexDos .cardFoto .picture-img {
    height: 80vh;
  }
  .indexDos .cardInfo .titulo-uno {
    font-size: large;
    color: black;
    text-shadow: 2px 2px #FDCEB9;
  }
  .indexDos .cardInfo .subtitulo-uno {
    font-size: large;
    color: black;
    text-shadow: 2px 2px #FDCEB9;
  }
  .indexDos .cardInfo .subtitulo-dos {
    font-size: large;
    color: black;
    text-shadow: 2px 2px #FDCEB9;
  }
  .indexDos .cardInfo .parrafo-info {
    font-size: small;
    padding: 0px;
  }
  .indexCuatro .portafolio-title {
    font-size: 10vh;
  }
}

@media (max-width: 575px) {
  .indexDos {
    height: 190vh;
  }
  .indexDos .cardFoto .picture-img {
    height: 50vh;
  }
  .indexDos .cardInfo {
    margin-top: 1vh;
  }
  .indexDos .cardInfo .subtitulo-dos {
    text-align: center;
  }
  .indexCuatro .portafolio-title {
    font-size: 10vh;
  }
  .indexTres {
    height: 260vh;
    margin-top: 0vh;
  }
  .indexCuatro {
    height: 450vh;
    width: 100%;
  }
  .indexCuatro .portafolio {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50vh 50vh 50vh 50vh 50vh 50vh 50vh 50vh;
    grid-auto-columns: 1fr;
    gap: 3px 3px;
    grid-auto-flow: row;
    grid-template-areas: "por-uno por-dos" "por-tres por-cuatro" "por-nueve por-ocho" "por-siete por-diez" "por-once por-trece" "por-seis por-cinco" "por-quince por-16" "por-17 por-18";
  }
  .indexCuatro .por-uno {
    grid-area: por-uno;
  }
  .indexCuatro .por-dos {
    grid-area: por-dos;
  }
  .indexCuatro .por-tres {
    grid-area: por-tres;
  }
  .indexCuatro .por-cuatro {
    grid-area: por-cuatro;
  }
  .indexCuatro .por-cinco {
    grid-area: por-cinco;
  }
  .indexCuatro .por-seis {
    grid-area: por-seis;
  }
  .indexCuatro .por-siete {
    grid-area: por-siete;
  }
  .indexCuatro .por-ocho {
    grid-area: por-ocho;
  }
  .indexCuatro .por-nueve {
    grid-area: por-nueve;
  }
  .indexCuatro .por-diez {
    grid-area: por-diez;
  }
  .indexCuatro .por-once {
    grid-area: por-once;
  }
  .indexCuatro .por-trece {
    grid-area: por-trece;
  }
  .indexCuatro .por-quince {
    grid-area: por-quince;
  }
  .indexCuatro .por-16 {
    grid-area: por-16;
  }
  .indexCuatro .por-17 {
    grid-area: por-17;
  }
  .indexCuatro .por-18 {
    grid-area: por-18;
  }
  .indexCuatro .foto-portafolio {
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }
}

.deporteUno-titulo {
  font-size: xx-large;
  text-align: center;
  color: #FDCEB9;
  text-shadow: 2px 2px red;
  height: 10vh;
  margin-top: 5vh;
}

.secDeportes {
  width: 100%;
}

.secDeportes .deportesUno {
  height: 200vh;
  width: 100%;
  display: grid;
  grid-template-areas: "foto foto foto2" "foto foto foto3" "foto4 foto5 foto6";
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3px;
}

.secDeportes .deportesUno .foto1 {
  grid-area: foto;
}

.secDeportes .deportesUno .foto2 {
  grid-area: foto2;
}

.secDeportes .deportesUno .foto3 {
  grid-area: foto3;
}

.secDeportes .deportesUno .foto4 {
  grid-area: foto4;
}

.secDeportes .deportesUno .foto5 {
  grid-area: foto5;
}

.secDeportes .deportesUno .foto6 {
  grid-area: foto6;
}

.secDeportes .deportesUno .foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.secDeportes .deportesUno .foto:hover {
  filter: opacity(0.9);
  transform: scale(1.05);
}

.secDeportes .deportesDos {
  height: 150vh;
  width: 100%;
  display: grid;
  grid-template-areas: "fotoDos fotoUno fotoUno" "fotoTres fotoUno fotoUno" "fotoCuatro fotoCinco fotoSeis";
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3px;
}

.secDeportes .deportesDos .foto1-dos {
  grid-area: fotoUno;
}

.secDeportes .deportesDos .foto2-dos {
  grid-area: fotoDos;
}

.secDeportes .deportesDos .foto3-dos {
  grid-area: fotoTres;
}

.secDeportes .deportesDos .foto4-dos {
  grid-area: fotoCuatro;
}

.secDeportes .deportesDos .foto5-dos {
  grid-area: fotoCinco;
}

.secDeportes .deportesDos .foto6-dos {
  grid-area: fotoSeis;
}

.secDeportes .deportesDos .foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.secDeportes .deportesDos .foto:hover {
  filter: opacity(0.9);
  transform: scale(1.05);
}

.secDeportes .deportesTres {
  width: 100%;
  height: 75vh;
  display: grid;
  grid-template-areas: "uno dos";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 3px;
  margin-bottom: 5vh;
}

.secDeportes .deportesTres .foto1-tres {
  grid-area: uno;
}

.secDeportes .deportesTres .foto2-tres {
  grid-area: dos;
}

.secDeportes .deportesTres .foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.secDeportes .deportesTres .foto:hover {
  filter: opacity(0.9);
  transform: scale(1.05);
}

@media (max-width: 575px) {
  .secDeportes .deportesUno {
    height: 150vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50vh 50vh 50vh;
    grid-auto-columns: 1fr;
    gap: 3px 3px;
    grid-auto-flow: row;
    grid-template-areas: "foto-1 foto-1" "foto-3 foto-4" "foto-5 foto-6";
  }
  .secDeportes .deportesUno .foto1 {
    grid-area: foto-1;
  }
  .secDeportes .deportesUno .foto2 {
    grid-area: foto-2;
  }
  .secDeportes .deportesUno .foto3 {
    grid-area: foto-3;
  }
  .secDeportes .deportesUno .foto4 {
    grid-area: foto-4;
  }
  .secDeportes .deportesUno .foto5 {
    grid-area: foto-5;
  }
  .secDeportes .deportesUno .foto6 {
    grid-area: foto-6;
  }
  .secDeportes .deportesDos {
    height: 200vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50vh 50vh 50vh 50vh;
    grid-auto-columns: 1fr;
    gap: 3px 3px;
    grid-auto-flow: row;
    grid-template-areas: "foto-1 foto-1" "foto-3 foto-4" "foto-5 foto-6" "foto-2 foto-2";
  }
  .secDeportes .deportesDos .foto1-dos {
    grid-area: foto-1;
  }
  .secDeportes .deportesDos .foto2-dos {
    grid-area: foto-2;
  }
  .secDeportes .deportesDos .foto3-dos {
    grid-area: foto-3;
  }
  .secDeportes .deportesDos .foto4-dos {
    grid-area: foto-4;
  }
  .secDeportes .deportesDos .foto5-dos {
    grid-area: foto-5;
  }
  .secDeportes .deportesDos .foto6-dos {
    grid-area: foto-6;
  }
  .secDeportes .deportesTres {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: "uno" "dos";
    grid-template-columns: 1fr;
    grid-template-rows: 50vh;
    grid-gap: 3px;
    margin-bottom: 5vh;
  }
  .secDeportes .deportesTres .foto1-tres {
    grid-area: uno;
  }
  .secDeportes .deportesTres .foto2-tres {
    grid-area: dos;
  }
}

.body-productos {
  margin-left: 0;
}

.body-productos h2 {
  margin-top: 5vh;
  text-align: center;
  font-size: xx-large;
  color: #FDCEB9;
  text-shadow: 2px 2px red;
}

.productoUno {
  height: 80vh;
  margin-top: 5vh;
  display: grid;
  grid-template-areas: "aura1 aura1 aura2" "aura1 aura1 aura4" "aura3 aura5 aura4";
  grid-template-rows: 33% 33% 33%;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 3px;
}

.productoUno .aura1 {
  grid-area: aura2;
}

.productoUno .aura2 {
  grid-area: aura1;
}

.productoUno .aura3 {
  grid-area: aura3;
}

.productoUno .aura4 {
  grid-area: aura4;
}

.productoUno .aura5 {
  grid-area: aura5;
}

.productoUno .prod-foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 999;
}

.productoUno .prod-foto:hover {
  filter: opacity(0.9);
  transform: scale(1.05);
}

.productoDos {
  margin-top: 5vh;
  height: 80vh;
  display: grid;
  grid-template-areas: "b-uno b-dos b-tres" "b-cuatro b-cinco b-seis";
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
  grid-gap: 3px;
}

.productoDos .borgan1 {
  grid-area: b-uno;
}

.productoDos .borgan2 {
  grid-area: b-dos;
}

.productoDos .borgan3 {
  grid-area: b-tres;
}

.productoDos .borgan4 {
  grid-area: b-cuatro;
}

.productoDos .borgan5 {
  grid-area: b-cinco;
}

.productoDos .borgan6 {
  grid-area: b-seis;
}

.productoDos .borgan-foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 999;
}

.productoDos .borgan-foto:hover {
  filter: opacity(0.9);
  transform: scale(1.05);
}

.productoTres {
  margin-top: 5vh;
  height: 100vh;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 25% 50% 25%;
  gap: 3px;
  grid-template-areas: "p-uno p-tres p-cuatro" "p-uno p-cinco p-dos" "p-siete p-seis p-dos";
}

.productoTres .p-uno {
  grid-area: p-uno;
}

.productoTres .p-dos {
  grid-area: p-dos;
}

.productoTres .p-tres {
  grid-area: p-tres;
}

.productoTres .p-cuatro {
  grid-area: p-cuatro;
}

.productoTres .p-cinco {
  grid-area: p-cinco;
}

.productoTres .p-seis {
  grid-area: p-seis;
}

.productoTres .p-siete {
  grid-area: p-siete;
}

.productoTres .bartolo-foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 999;
}

.productoTres .bartolo-foto:hover {
  filter: opacity(0.9);
  transform: scale(1.05);
}

.productoCuatro {
  margin-top: 5vh;
  height: 100vh;
  display: grid;
  grid-template-columns: 25% 25% 25% 24%;
  grid-template-rows: 25% 25% 25% 25%;
  gap: 3px;
  grid-template-areas: "flor-uno flor-uno flor-dos flor-tres" "flor-uno flor-uno flor-cuatro flor-cinco" "flor-seis flor-siete flor-ocho flor-cinco" "flor-seis flor-siete flor-nueve flor-diez";
}

.productoCuatro .flor-uno {
  grid-area: flor-uno;
}

.productoCuatro .flor-dos {
  grid-area: flor-dos;
}

.productoCuatro .flor-tres {
  grid-area: flor-tres;
}

.productoCuatro .flor-cuatro {
  grid-area: flor-cuatro;
}

.productoCuatro .flor-cinco {
  grid-area: flor-cinco;
}

.productoCuatro .flor-seis {
  grid-area: flor-seis;
}

.productoCuatro .flor-siete {
  grid-area: flor-siete;
}

.productoCuatro .flor-ocho {
  grid-area: flor-ocho;
}

.productoCuatro .flor-nueve {
  grid-area: flor-nueve;
}

.productoCuatro .flor-diez {
  grid-area: flor-diez;
}

.productoCuatro .flor-foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productoCuatro .flor-foto:hover {
  filter: opacity(0.9);
  transform: scale(1.05);
}

.productoCinco {
  margin-top: 5vh;
  height: 20em;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 20em;
  gap: 3px 3px;
  grid-auto-flow: row;
  grid-template-areas: "coca-uno coca-dos coca-tres";
}

.productoCinco .coca-uno {
  grid-area: coca-uno;
}

.productoCinco .coca-dos {
  grid-area: coca-dos;
}

.productoCinco .coca-tres {
  grid-area: coca-tres;
}

.productoCinco .foto-coca {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productoCinco .foto-coca:hover {
  filter: opacity(0.9);
  transform: scale(1.05);
}

.productoSeis {
  margin-top: 5vh;
  height: 110vh;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 25% 25% 50%;
  gap: 3px 3px;
  grid-template-areas: "picadas-cuatro picadas-cinco picadas-tres" "picadas-cuatro picadas-seis picadas-tres" "picadas-uno picadas-uno picadas-dos";
}

.productoSeis .picadas-uno {
  grid-area: picadas-uno;
}

.productoSeis .picadas-dos {
  grid-area: picadas-dos;
}

.productoSeis .picadas-tres {
  grid-area: picadas-tres;
}

.productoSeis .picadas-cuatro {
  grid-area: picadas-cuatro;
}

.productoSeis .picadas-cinco {
  grid-area: picadas-cinco;
}

.productoSeis .picadas-seis {
  grid-area: picadas-seis;
}

.productoSeis .picadas-foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productoSeis .picadas-foto:hover {
  filter: opacity(0.9);
  transform: scale(1.05);
}

.productoSiete {
  margin-top: 5vh;
  height: 120vh;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 19%;
  grid-template-rows: 34% 32% 34%;
  gap: 3px;
  grid-template-areas: "siete-dos siete-dos siete-cuatro siete-uno siete-uno" "siete-cinco siete-tres siete-tres siete-uno siete-uno" "siete-seis sietes-siete siete-ocho siete-nueve siete-nueve";
}

.productoSiete .siete-uno {
  grid-area: siete-uno;
}

.productoSiete .siete-dos {
  grid-area: siete-dos;
}

.productoSiete .siete-tres {
  grid-area: siete-tres;
}

.productoSiete .siete-cuatro {
  grid-area: siete-cuatro;
}

.productoSiete .siete-cinco {
  grid-area: siete-cinco;
}

.productoSiete .siete-seis {
  grid-area: siete-seis;
}

.productoSiete .sietes-siete {
  grid-area: sietes-siete;
}

.productoSiete .siete-ocho {
  grid-area: siete-ocho;
}

.productoSiete .siete-nueve {
  grid-area: siete-nueve;
}

.productoSiete .siete-foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productoSiete .siete-foto:hover {
  filter: opacity(0.9);
  transform: scale(1.05);
}

.sec-Contacto {
  min-height: 100vh;
  width: 100%;
  margin-left: -1vw;
}

.sec-Contacto .form-titulo {
  color: #FDCEB9;
  text-shadow: 2px 2px red;
}

.sec-Contacto .textoContacto {
  display: flexbox;
  margin: auto 0;
  margin-top: 10vh;
  text-align: center;
}

.sec-Contacto .accordion {
  margin-top: 10vh;
}

.sec-Contacto .accordion .accordion-item label {
  margin: 3px;
}

.sec-Contacto .title span {
  --total: calc(var(--duration) + var(--delay));
  position: relative;
  display: block;
  margin: 0 auto;
  color: transparent;
  overflow: hidden;
  animation: revealText 10s var(--total) forwards;
  font-size: 12vh;
}

.sec-Contacto .title span::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  background: #FDCEB9;
  animation: rollIn var(--duration) var(--delay) forwards, rollOut var(--duration) var(--total) forwards;
}

.sec-Contacto .title span:nth-child(3)::after {
  border-top: 3px solid #FDCEB9;
}

@keyframes revealText {
  to {
    color: #ff5858;
  }
}

@keyframes rollIn {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes rollOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(105%);
  }
}

.footerGeneral {
  height: auto;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0px;
  display: inline-flex;
  justify-content: center;
  align-content: space-around;
  color: black;
}

.footerGeneral .imagenesFooter {
  text-align: center;
  color: black;
}

.footerGeneral .redLink {
  text-decoration: none;
  color: black;
}

.footerGeneral .imgRedes {
  margin-top: 1vw;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  width: 5vw;
  height: 10vh;
  padding: 10px;
  border-radius: 30%;
  outline: 3px solid black;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: .25s;
}

.footerGeneral .imgRedes:hover {
  outline-offset: 4px;
  background-color: #FDCEB9;
}

.footerGeneral .mapaSitio {
  text-decoration: none;
  color: black;
  margin-left: 1vw;
  margin-right: 1vw;
}

.footerGeneral .mapaSitio:hover {
  text-decoration: underline 3px coral;
}

@media (min-width: 576px) and (max-width: 768px) {
  .footerGeneral .imgRedes {
    margin-top: 3vw;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    width: 8vw;
    height: 10vh;
    padding: 0px;
    border-radius: 0;
    outline: 0px;
  }
  .footerGeneral .imgRedes:hover {
    outline-offset: 0px;
    background-color: none;
  }
}

@media (max-width: 575px) {
  .footerGeneral .imgRedes {
    margin-top: 3vw;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    width: 8vw;
    height: 10vh;
    padding: 0px;
    border-radius: 0;
    outline: 0px;
  }
  .footerGeneral .imgRedes:hover {
    outline-offset: 0px;
    background-color: none;
  }
}
/*# sourceMappingURL=estilos.css.map */