* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.encabezado {
  background-color: white;
  width: 100%;
  height: 20vh;
  z-index: 999;
}

.encabezado .barraNav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.encabezado .barraNav .logo {
  text-decoration: none;
  font-size: x-large;
  color: black;
}

.encabezado .barraNav .logo .img-logo {
  width: 18vw;
  height: 17vh;
  margin-top: 1vw;
  margin-bottom: 1vw;
  border-radius: 30px;
}

.encabezado .barraNav .toggleNav {
  color: black;
  background: none;
  border: none;
  font-size: x-large;
  padding: 0 1vw;
  display: none;
}

.encabezado .barraNav .navBar {
  display: flex;
}

.encabezado .barraNav .navBar .nav-item {
  list-style: none;
  font-size: medium;
  margin: 0 1vw;
  line-height: 20vh;
  text-transform: uppercase;
}

.encabezado .barraNav .navBar .nav-item a {
  text-decoration: none;
  color: black;
}

@media (max-width: 768px) {
  body {
    padding-top: 20vh;
  }
  body .encabezado {
    top: 0;
    position: fixed;
  }
  body .encabezado .barraNav .logo {
    font-size: large;
  }
  body .encabezado .barraNav .toggleNav {
    display: block;
  }
  body .encabezado .barraNav .navBar {
    flex-direction: column;
    background-color: bisque;
    position: fixed;
    margin: 0;
    top: 20vh;
    width: 100%;
    align-items: center;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
  }
  body .encabezado .barraNav .navBar-visible {
    left: 0;
  }
}

.container-fluid {
  width: 100%;
  margin-left: 1vw;
}

.indexUno {
  height: 80vh;
  width: 100%;
  background-color: antiquewhite;
}

.indexDos {
  height: 100vh;
  width: 100%;
}

.indexDos .cardFoto {
  background-color: red;
}

.indexDos .cardInfo {
  background-color: black;
}

.indexTres {
  height: 80vh;
  width: 100%;
  background-color: coral;
}

.indexCuatro {
  height: 80vh;
  width: 100%;
  background-color: aquamarine;
}

.deporteUno-titulo {
  font-size: xx-large;
  text-align: center;
  justify-content: center;
  height: 10vh;
  margin-top: 1vh;
}

.secDeportes {
  width: 100%;
}

.secDeportes .deportesUno {
  height: 200vh;
  width: 100%;
  display: grid;
  grid-template-areas: "foto foto foto2" "foto foto foto3" "foto4 foto5 foto6";
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3px;
}

.secDeportes .deportesUno .foto1 {
  grid-area: foto;
}

.secDeportes .deportesUno .foto2 {
  grid-area: foto2;
}

.secDeportes .deportesUno .foto3 {
  grid-area: foto3;
}

.secDeportes .deportesUno .foto4 {
  grid-area: foto4;
}

.secDeportes .deportesUno .foto5 {
  grid-area: foto5;
}

.secDeportes .deportesUno .foto6 {
  grid-area: foto6;
}

.secDeportes .deportesUno .foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.secDeportes .deportesDos {
  height: 150vh;
  width: 100%;
  display: grid;
  grid-template-areas: "fotoDos fotoUno fotoUno" "fotoTres fotoUno fotoUno" "fotoCuatro fotoCinco fotoSeis";
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3px;
}

.secDeportes .deportesDos .foto1-dos {
  grid-area: fotoUno;
}

.secDeportes .deportesDos .foto2-dos {
  grid-area: fotoDos;
}

.secDeportes .deportesDos .foto3-dos {
  grid-area: fotoTres;
}

.secDeportes .deportesDos .foto4-dos {
  grid-area: fotoCuatro;
}

.secDeportes .deportesDos .foto5-dos {
  grid-area: fotoCinco;
}

.secDeportes .deportesDos .foto6-dos {
  grid-area: fotoSeis;
}

.secDeportes .deportesDos .foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.secDeportes .deportesTres {
  width: 100%;
  height: 75vh;
  display: grid;
  grid-template-areas: "uno dos";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 3px;
  margin-bottom: 5vh;
}

.secDeportes .deportesTres .foto1-tres {
  grid-area: uno;
}

.secDeportes .deportesTres .foto2-tres {
  grid-area: dos;
}

.secDeportes .deportesTres .foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.body-productos {
  margin-left: 0;
}

.body-productos h2 {
  margin-top: 5vh;
  text-align: center;
  font-size: xx-large;
  color: #FDCEB9;
  text-shadow: 2px 2px red;
}

.productoUno {
  height: 80vh;
  margin-top: 5vh;
  display: grid;
  grid-template-areas: "aura1 aura1 aura2" "aura1 aura1 aura4" "aura3 aura5 aura4";
  grid-template-rows: 33% 33% 33%;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 3px;
}

.productoUno .aura1 {
  grid-area: aura2;
}

.productoUno .aura2 {
  grid-area: aura1;
}

.productoUno .aura3 {
  grid-area: aura3;
}

.productoUno .aura4 {
  grid-area: aura4;
}

.productoUno .aura5 {
  grid-area: aura5;
}

.productoUno .prod-foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 999;
}

.productoDos {
  margin-top: 5vh;
  height: 80vh;
  display: grid;
  grid-template-areas: "b-uno b-dos b-tres" "b-cuatro b-cinco b-seis";
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
  grid-gap: 3px;
}

.productoDos .borgan1 {
  grid-area: b-uno;
}

.productoDos .borgan2 {
  grid-area: b-dos;
}

.productoDos .borgan3 {
  grid-area: b-tres;
}

.productoDos .borgan4 {
  grid-area: b-cuatro;
}

.productoDos .borgan5 {
  grid-area: b-cinco;
}

.productoDos .borgan6 {
  grid-area: b-seis;
}

.productoDos .borgan-foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 999;
}

.productoTres {
  margin-top: 5vh;
  height: 100vh;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 25% 50% 25%;
  gap: 3px;
  grid-template-areas: "p-uno p-tres p-cuatro" "p-uno p-cinco p-dos" "p-siete p-seis p-dos";
}

.productoTres .p-uno {
  grid-area: p-uno;
}

.productoTres .p-dos {
  grid-area: p-dos;
}

.productoTres .p-tres {
  grid-area: p-tres;
}

.productoTres .p-cuatro {
  grid-area: p-cuatro;
}

.productoTres .p-cinco {
  grid-area: p-cinco;
}

.productoTres .p-seis {
  grid-area: p-seis;
}

.productoTres .p-siete {
  grid-area: p-siete;
}

.productoTres .bartolo-foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 999;
}

.productoCuatro {
  margin-top: 5vh;
  height: 100vh;
  display: grid;
  grid-template-columns: 25% 25% 25% 24%;
  grid-template-rows: 25% 25% 25% 25%;
  gap: 3px;
  grid-template-areas: "flor-uno flor-uno flor-dos flor-tres" "flor-uno flor-uno flor-cuatro flor-cinco" "flor-seis flor-siete flor-ocho flor-cinco" "flor-seis flor-siete flor-nueve flor-diez";
}

.productoCuatro .flor-uno {
  grid-area: flor-uno;
}

.productoCuatro .flor-dos {
  grid-area: flor-dos;
}

.productoCuatro .flor-tres {
  grid-area: flor-tres;
}

.productoCuatro .flor-cuatro {
  grid-area: flor-cuatro;
}

.productoCuatro .flor-cinco {
  grid-area: flor-cinco;
}

.productoCuatro .flor-seis {
  grid-area: flor-seis;
}

.productoCuatro .flor-siete {
  grid-area: flor-siete;
}

.productoCuatro .flor-ocho {
  grid-area: flor-ocho;
}

.productoCuatro .flor-nueve {
  grid-area: flor-nueve;
}

.productoCuatro .flor-diez {
  grid-area: flor-diez;
}

.productoCuatro .flor-foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productoCinco {
  margin-top: 5vh;
  height: 20em;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 20em;
  gap: 3px 3px;
  grid-auto-flow: row;
  grid-template-areas: "coca-uno coca-dos coca-tres";
}

.productoCinco .coca-uno {
  grid-area: coca-uno;
}

.productoCinco .coca-dos {
  grid-area: coca-dos;
}

.productoCinco .coca-tres {
  grid-area: coca-tres;
}

.productoCinco .foto-coca {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productoSeis {
  margin-top: 5vh;
  height: 110vh;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 25% 25% 50%;
  gap: 3px 3px;
  grid-template-areas: "picadas-cuatro picadas-cinco picadas-tres" "picadas-cuatro picadas-seis picadas-tres" "picadas-uno picadas-uno picadas-dos";
}

.productoSeis .picadas-uno {
  grid-area: picadas-uno;
}

.productoSeis .picadas-dos {
  grid-area: picadas-dos;
}

.productoSeis .picadas-tres {
  grid-area: picadas-tres;
}

.productoSeis .picadas-cuatro {
  grid-area: picadas-cuatro;
}

.productoSeis .picadas-cinco {
  grid-area: picadas-cinco;
}

.productoSeis .picadas-seis {
  grid-area: picadas-seis;
}

.productoSeis .picadas-foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productoSiete {
  margin-top: 5vh;
  height: 120vh;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 19%;
  grid-template-rows: 34% 32% 34%;
  gap: 3px;
  grid-template-areas: "siete-dos siete-dos siete-cuatro siete-uno siete-uno" "siete-cinco siete-tres siete-tres siete-uno siete-uno" "siete-seis sietes-siete siete-ocho siete-nueve siete-nueve";
}

.productoSiete .siete-uno {
  grid-area: siete-uno;
}

.productoSiete .siete-dos {
  grid-area: siete-dos;
}

.productoSiete .siete-tres {
  grid-area: siete-tres;
}

.productoSiete .siete-cuatro {
  grid-area: siete-cuatro;
}

.productoSiete .siete-cinco {
  grid-area: siete-cinco;
}

.productoSiete .siete-seis {
  grid-area: siete-seis;
}

.productoSiete .sietes-siete {
  grid-area: sietes-siete;
}

.productoSiete .siete-ocho {
  grid-area: siete-ocho;
}

.productoSiete .siete-nueve {
  grid-area: siete-nueve;
}

.productoSiete .siete-foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sec-Contacto {
  min-height: 100vh;
  width: 100%;
  margin-left: -1vw;
}

.sec-Contacto .textoContacto {
  display: flexbox;
  margin: auto 0;
  margin-top: 10vh;
  text-align: center;
}

.sec-Contacto .accordion {
  margin-top: 10vh;
}

.sec-Contacto .accordion .accordion-item label {
  margin: 3px;
}

.sec-Contacto .title span {
  --total: calc(var(--duration) + var(--delay));
  position: relative;
  display: block;
  margin: 0 auto;
  color: transparent;
  overflow: hidden;
  animation: revealText 10s var(--total) forwards;
  font-size: 12vh;
}

.sec-Contacto .title span::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  background: #FDCEB9;
  animation: rollIn var(--duration) var(--delay) forwards, rollOut var(--duration) var(--total) forwards;
}

.sec-Contacto .title span:nth-child(3)::after {
  border-top: 3px solid #FDCEB9;
}

@keyframes revealText {
  to {
    color: #ff5858;
  }
}

@keyframes rollIn {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes rollOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(105%);
  }
}

.footerGeneral {
  height: auto;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0px;
  /*
    background: rgb(255, 88, 88);
    background: radial-gradient(circle, rgba(255, 88, 88, 1) 0%, rgba(255, 200, 200, 1) 49%);*/
  display: inline-flex;
  justify-content: center;
  align-content: space-around;
  color: black;
}

.footerGeneral .imagenesFooter {
  text-align: center;
  color: black;
}

.footerGeneral .redLink {
  text-decoration: none;
  color: black;
}

.footerGeneral .imgRedes {
  margin-top: 1vw;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  width: 5vw;
  height: 10vh;
}

.footerGeneral .mapaSitio {
  text-decoration: none;
  color: black;
  margin-left: 1vw;
  margin-right: 1vw;
}
/*# sourceMappingURL=estilos.css.map */