.footerGeneral {
    height: auto;
    width:100%;
    margin-top: 10px;
    margin-bottom: 0px;
    display: inline-flex;
    justify-content: center;
    align-content: space-around;
    color: black;

    p{
        color: coral;
        
    }
    .imagenesFooter {
        text-align: center;
        color: black;
    }

    .redLink {
        text-decoration: none;
        color: black;
    }

    

    .imgRedes {
        margin-top: 1vw;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 1rem;
        width: 5vw;
        height: 10vh;
        padding: 10px;
        border-radius: 30%;
        outline: 3px solid black;
        transition-property: outline-offset, outline-color, background-color;
        transition-duration: .25s;
    }

    .imgRedes:hover {
        outline-offset: 4px;
        background-color: #FDCEB9;
    }



    .mapaSitio {
        text-decoration: none;
        color: black;
        margin-left: 1vw;
        margin-right: 1vw;
    }

    .mapaSitio:hover{
        text-decoration: underline 3px coral;
    }
}

@media (min-width:576px) and (max-width:768px) {
    .footerGeneral{

        .imgRedes {
            margin-top: 3vw;
            margin-left: 2rem;
            margin-right: 2rem;
            margin-bottom: 1rem;
            width: 8vw;
            height: 10vh;
            padding: 0px;
            border-radius: 0;
            outline: 0px;
            
        }
    
        .imgRedes:hover {
            outline-offset: 0px;
            background-color: none;
        }
    }
  

}

@media (max-width:575px) {
    .footerGeneral{

        .imgRedes {
            margin-top: 3vw;
            margin-left: 2rem;
            margin-right: 2rem;
            margin-bottom: 1rem;
            width: 8vw;
            height: 10vh;
            padding: 0px;
            border-radius: 0;
            outline: 0px;
            
        }
    
        .imgRedes:hover {
            outline-offset: 0px;
            background-color: none;
        }
    }
  

}