.footerGeneral {
    height: auto;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0px;
    /*
    background: rgb(255, 88, 88);
    background: radial-gradient(circle, rgba(255, 88, 88, 1) 0%, rgba(255, 200, 200, 1) 49%);*/
    display: inline-flex;
    justify-content: center;
    align-content: space-around;
    color: black;

    .imagenesFooter {
        text-align: center;
        color: black;
    }

    .redLink {
        text-decoration: none;
        color: black;
    }

    .imgRedes {
        margin-top: 1vw;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 1rem;
        width: 5vw;
        height: 10vh;
    }

    .mapaSitio {
        text-decoration: none;
        color: black;
        margin-left: 1vw;
        margin-right: 1vw;
    }
}