.container-fluid {
    width: 100%;
    margin-left: 1vw;
}

.indexUno {
    margin-top: 1vh;
    height: 80vh;
    width: 100%;


    .carousel {

        .foto-carusel {
            width: 100%;
            height: 78vh;
            object-fit: cover;

        }
    }

}

.indexDos {
    height: 100vh;
    width: 100%;

    .cardFoto {


        .picture-contain {
            display: inline-block;
            background-color: #FDCEB9;
            border-radius: 25%;
        }

        .picture-img {
            width: 100%;
            height: 95vh;
            mix-blend-mode: multiply;
            filter: grayscale(100%);
            border-radius: 25%;
        }
    }

    .cardInfo {

        .titulo-uno {
            color: #FDCEB9;
            text-align: center;
            text-decoration: underline;
            text-shadow: 2px 2px red;
        }

        .subtitulo-uno {
            color: #FDCEB9;
            text-align: center;
            text-shadow: 2px 2px red;
        }

        .subtitulo-dos {
            color: #FDCEB9;
            text-align: center;
            text-shadow: 2px 2px red;
        }

        .parrafo-info {
            text-align: justify;
            padding: 1vh;
        }

        .firma {
            color: black;
            text-shadow: 2px 2px #FDCEB9;
            text-align: left;

        }
    }
}

.indexTres {
    margin-top: 5vh;
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: space-between;

    .card {
        border: 0px solid;
        position: relative;
        cursor: pointer;

        .face {
            width: 100%;
            height: 40vh;
            transition: 0.5s;
            border-radius: 5%;

        }

        .face1 {
            position: relative;
            background-color: white;
            justify-content: center;
            align-items: center;
            z-index: 1;
            transform: translateY(20vh);
            border-radius: 5% 5% 0 0;
        }

        .content {
            opacity: 0.2;
            transition: 0.5s;
        }


        .card-img {

            max-width: 50%;
            display: flex;
            margin: auto;
        }

        .titulo-card {
            margin: 10px 0 0;
            padding: 0;
            color: black;
            text-align: center;
            font-size: 1.5em;
        }

        .face2 {
            position: relative;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            box-sizing: border-box;
            box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
            transform: translateY(-20vh);
            border-radius: 0 0 5% 5%;
        }

        .card-parrafo {
            margin: 0;
            padding: 0;
        }

        .card-enlace {
            margin: 15px 0 0;
            display: inline-block;
            text-decoration: none;
            text-align: center;
            font-weight: 900;
            color: black;
            padding: 5px;
            border: 1px solid black;
            border-radius: 10%;
        }
    }
}

.card:hover .face.face1 .content {
    opacity: 1;
}

.card:hover .face.face2 .content {
    opacity: 1;
}


.card:hover .face1 {
    background-color: #FDCEB9;
    transform: translateY(0);
}

.card:hover .face.face2 {
    transform: translateY(0);
}

.card:hover .face.face2 .card-enlace:hover {
    background-color: #FDCEB9;
    color: black;
}

.indexCuatro {
    height: max-content;
    width: 100%;

    .portafolio-title {
        text-align: center;
        font-size: 15vh;
        color: #FDCEB9;
        text-shadow: 4px 4px red;
        margin-bottom: 5vh;
    }


    .portafolio {
        display: grid;
        grid-template-columns: 19.3% 20.7% 20% 20% 20%;
        grid-template-rows: 20% 20% 20% 20% 20%;
        grid-auto-columns: 1fr;
        gap: 3px 3px;
        grid-auto-flow: row;
        grid-template-areas:
            "por-tres por-seis por-siete por-uno por-uno"
            "por-cinco por-cinco por-ocho por-nueve por-diez"
            "por-17 por-dos por-dos por-cuatro por-cuatro"
            "por-18 por-18 por-quince por-quince por-16"
            "por-trece por-trece por-once por-once por-catorce";
    }

    .por-uno {
        grid-area: por-uno;
    }

    .por-cuatro {
        grid-area: por-cuatro;
    }

    .por-seis {
        grid-area: por-seis;
    }

    .por-siete {
        grid-area: por-siete;
    }

    .por-ocho {
        grid-area: por-ocho;
    }

    .por-nueve {
        grid-area: por-nueve;
    }

    .por-diez {
        grid-area: por-diez;
    }

    .por-once {
        grid-area: por-once;
    }

    .por-trece {
        grid-area: por-trece;
    }

    .por-catorce {
        grid-area: por-catorce;
    }

    .por-16 {
        grid-area: por-16;
    }

    .por-17 {
        grid-area: por-17;
    }

    .por-tres {
        grid-area: por-tres;
    }

    .por-cinco {
        grid-area: por-cinco;
    }

    .por-dos {
        grid-area: por-dos;
    }

    .por-18 {
        grid-area: por-18;
    }

    .por-quince {
        grid-area: por-quince;
    }


    .foto-portafolio {
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }


}

.foto-portafolio:hover {
    transform: scale(1);
}

@media (max-width:1024px) and (min-width:768px) {
    .indexDos {
        height: 100vh;

        .picture-contain {
            margin-top: 10vh;
        }

        .cardFoto {
            .picture-img {
                //margin-top:20vh;
                height: 80vh;
            }
        }

        .cardInfo {
            .titulo-uno {
                font-size: x-large;
                color: black;
                text-shadow: 2px 2px #FDCEB9;
            }

            .subtitulo-uno {
                font-size: large;
                color: black;
                text-shadow: 2px 2px #FDCEB9;
            }

            .subtitulo-dos {
                font-size: large;
                color: black;
                text-shadow: 2px 2px #FDCEB9;
            }

            .parrafo-info {
                font-size: small;
                padding: 0px;
            }
        }

    }

    .indexCuatro {
        .portafolio-title {
            font-size: 10vh;

        }
    }
}

@media (max-width:767px) and (min-width:576px) {
    .indexDos {
        height: 115vh;

        .picture-contain {
            margin-top: 10vh;
        }

        .cardFoto {
            .picture-img {
                //margin-top:20vh;
                height: 80vh;
            }
        }

        .cardInfo {
            .titulo-uno {
                font-size: large;
                color: black;
                text-shadow: 2px 2px #FDCEB9;
            }

            .subtitulo-uno {
                font-size: large;
                color: black;
                text-shadow: 2px 2px #FDCEB9;
            }

            .subtitulo-dos {
                font-size: large;
                color: black;
                text-shadow: 2px 2px #FDCEB9;
            }

            .parrafo-info {
                font-size: small;
                padding: 0px;
            }
        }

    }

    .indexCuatro {
        .portafolio-title {
            font-size: 10vh;

        }
    }
}

@media (max-width:575px) {
    .indexDos {
        height: 190vh;

        .cardFoto {
            .picture-img {
                height: 50vh;
            }
        }

        .cardInfo {
            margin-top: 1vh;

            .subtitulo-dos {
                text-align: center;
            }
        }
    }

    .indexCuatro {
        .portafolio-title {
            font-size: 10vh;

        }
    }

    .indexTres {
        height: 260vh;
        margin-top: 0vh;
        
    }

    .indexCuatro {
        height: 450vh;
        width: 100%;

        .portafolio {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50vh 50vh 50vh 50vh 50vh 50vh 50vh 50vh;
            grid-auto-columns: 1fr;
            gap: 3px 3px;
            grid-auto-flow: row;
            grid-template-areas:
                "por-uno por-dos"
                "por-tres por-cuatro"
                "por-nueve por-ocho"
                "por-siete por-diez"
                "por-once por-trece"
                "por-seis por-cinco"
                "por-quince por-16"
                "por-17 por-18";
        }

        .por-uno {
            grid-area: por-uno;
        }

        .por-dos {
            grid-area: por-dos;
        }

        .por-tres {
            grid-area: por-tres;
        }

        .por-cuatro {
            grid-area: por-cuatro;
        }

        .por-cinco {
            grid-area: por-cinco;
        }

        .por-seis {
            grid-area: por-seis;
        }

        .por-siete {
            grid-area: por-siete;
        }

        .por-ocho {
            grid-area: por-ocho;
        }

        .por-nueve {
            grid-area: por-nueve;
        }

        .por-diez {
            grid-area: por-diez;
        }

        .por-once {
            grid-area: por-once;
        }

        .por-trece {
            grid-area: por-trece;
        }

        .por-quince {
            grid-area: por-quince;
        }

        .por-16 {
            grid-area: por-16;
        }

        .por-17 {
            grid-area: por-17;
        }

        .por-18 {
            grid-area: por-18;
        }

        .foto-portafolio {
            width: 100%;
            height: 50vh;
            object-fit: cover;
        }

    }
}