// archivo principal para adjuntar el resto de los SCSS

// reinicio de navegador
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

// archivos SCSS importados
@import "barraNavegacion";
@import "seccIndex";
@import "seccDeportes";
@import "footerEstilo";