// archivo principal para adjuntar el resto de los SCSS

// reinicio de navegador
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

// tamaño pantalla index, hay que cambiarlo.
.container-fluid{
    height: 90vh;
}

// archivos SCSS importados
@import "barraNavegacion";
@import "footerEstilo";