// archivo principal para adjuntar el resto de los SCSS

// reinicio de navegador
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
} 

// archivos SCSS importados
@import "barraNavegacion";
@import "seccIndex";
@import "seccDeportes";
@import "secFotoProductos";
@import "secContactos";
@import "footerEstilo";
